@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Regular.ttf') format('truetype');
}

body {
  background: cornsilk;
  background-image: url('./assets/gatodefault.jpg');
  font-family: 'Roboto';
  display: flex;
}

.teststyle {
  color: red;
}
